<extend name="Base/common"/>
<block name="body">
<style type="text/css">
body {
  background: #0069c2;
}
</style>
<div class="code_logo"> <img src="__IMG__/logo_big.png" width="146"> </div>
<div class="code_top_bg"> <img src="__IMG__/code_top_bg.png" width="212"> </div>
<div class="codebox">
  <input type="text" name="" id="" class="textbox radius3">
  <button class="submit radius3">登录</button>
  <p class="nocode">还没有邀请码，<a href="#" >快速获取</a></p>
</div>
</block>
<block name="footer">
<include file="Public/footer2"/>
</block>
