<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>{$catetitle}</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <input type="hidden" name="type" value="{$type}">
        <input type="hidden" name="id" value="{$field.id}">
        <div class="form-item">
            <label class="item-label">
                名称
                <span class="check-tips">(输入关键字的名称)</span>
            </label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$field.title}"></div>
        </div>
        <div class="form-item">
            <label class="item-label">
                是否启用
                <span class="check-tips">(是否启用关键字)</span>
            </label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="status" <eq name="field['status']" value="1">checked</eq> value="1">是</label>
                <label class="radio">
                    <input type="radio" name="status" <eq name="field['status']" value="0">checked</eq> value="0">否</label>
            </div>
        </div>

        <div class="form-item" >
            <label class="item-label">
                文本类型的内容
                <span class="check-tips"></span>
            </label>
            <label class="textarea">
                <textarea name="content">{$field.content}</textarea>
                {:hook('adminArticleEdit', array('name'=>'content','value'=>''))}
            </label>
        </div>

        <div class="blank20"></div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        </div>

    </form>
</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
         highlight_subnav('{:U('Weixin/keywords')}');
    </script>
</block>