 {
     "button":[
     {	
          "type":"view",
          "name":"微官网",
          "url":"http://juba.aipami.com/cst/"
      },
      {
           "name":"交流",
           "sub_button":[
           {	
               "type":"view",
               "name":"技术问题",
               "url":"http://juba.aipami.com/cst/index.php?m=Admin&c=User&a=technology"
            },
            {
               "type":"view",
               "name":"技术资料",
               "url":"http://juba.aipami.com/cst/index.php?m=Admin&c=User&a=technology/"
            },
            {
               "type":"view",
               "name":"产品问题",
               "url":"http://juba.aipami.com/cst/index.php?m=Admin&c=User&a=product"
            },
            {
               "type":"click",
               "name":"体验反馈",
               "key":"体验反馈"
            },
            {
               "type":"click",
               "name":"技术支持",
               "key":"技术支持"
            }]
       },
       {  
          "type":"view",
          "name":"我",
          "url":"http://juba.aipami.com/cst/index.php?m=Home&c=User"
      }
    ]
 }