  <meta charset="utf-8"/>  
  <title>{:C('WEB_SITE_TITLE')}</title>
  <meta name="description" content="">  
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />  
  <meta content="yes" name="apple-mobile-web-app-capable" />  
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />  
  <meta content="telephone=no" name="format-detection" />  
  <link rel="stylesheet" href="__CSS__/style.css">  
  <script type="text/javascript" src="__JS__/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="__JS__/jquery.float.js"></script>
  <script type="text/javascript" src="__JS__/touch.js"></script>
  <script type="text/javascript" src="__JS__/common.js"></script>
  {:hook('pageHeader')}