<extend name="Base/common"/>
<block name="body">
<div id="setbox" class="wide radius5">
  <div class="top blue">
    <h2>张微微</h2>
    <img src="__IMG__/logo_big.png" width="65">
  </div>
  <div class="con">
    <ul class="userinfo">
      <li><img src="__IMG__/u1.png" width="16">手机</li>
      <li><img src="__IMG__/u2.png" width="16">邮箱</li>
      <li><img src="__IMG__/u3.png" width="16">单位</li>
      <li><img src="__IMG__/u4.png" width="16">部门</li>
      <li><img src="__IMG__/u5.png" width="16">工业电子ID</li>
    </ul>
  </div>
</div>
</block>
<block name="footer">
<include file="Public/footer"/>
</block>
<block name="script">
 <script type="text/javascript">
 </script>
</block>